body{
    margin: 0;
    padding: 0;
    color: white;
    background: url("images/background2.jpg") no-repeat center fixed;
    text-align: center;
    font: normal 15px 'Times New Roman';
}
header {
    position: relative;
    padding: 20px 30px 20px 30px;
    margin: 0px auto;
    text-align: center;
    font-size: 50px;
}
.box {
    margin: 5%;
    background-color: rgba(36, 36, 36, 0.5);
    width: 60%;
    height: auto;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 30px;
    border-radius: 10px;
}
.box input[type="number"] {

    font-family: Georgia, "Times New Roman", Times, serif;
    display: inline;
    background-color: rgba(171, 171, 171, 0.8);
    border-radius: 5px;
    font-size: 16px;
    margin: 15px auto;
    outline: 0;
    padding: 10px;
    width: 40%;

}

.box input[type="number"]:focus {
    background: rgba(255, 255, 255, .5);
}

.box button[type="button"]{
    display: inline;
    box-sizing: border-box;
    margin: 0 auto;
    padding: 8px;
    width: 50%;
    max-width: 100px;


    border-radius: 8px;

    text-align: center;
    text-decoration: none;
    letter-spacing: 1px;
    transition: all 0.3s ease-out;

    cursor: pointer;
}

.box button[type="button"]:hover,
.box button[type="button"]:active {
    background: rgba(255, 255, 255, .5);
    color: #000;
    transition: all 0.5s ease-in;
}

.prvocisla {
    display: none;
    margin: 0.5em;
    width: 4em;
    height: 3em;
    line-height: 3em;
    border-radius: 5px;
}
#cisla {
    display: none;
    margin: 5% auto;
    padding: 5px 10px 5px 5px;
    border: 1px solid black;

    width: 90%;
    height: auto;
    max-height: 500px;
    overflow: auto;
    background-color: rgba(120, 120, 120, 0.5);
    color: black;
}

#result {
    color: black;
    z-index: 8;
}

#status {
    height: 20px;
    width: auto;
    padding: 5%;
    display: block;
}
