html, body {
    background-image: url("background.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 100%;
    height: 100%;
    color: white;
}

.mapa1 {
    width: 550px;
    height: 500px;
}

.mapa2 {
    position: relative;
    float: right;
    width: 600px;
    height: 350px;
}

.obrazok {
    width: 50px;
}

.uvod {
    height: 200px;
}

.vyber {
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 200px;
}

.pocasie1 {
    text-align: center;
    background-color: #5e5e5e;
}

.jednodiv {
    width: 550px;
    text-align: center;
    background-color: #5e5e5e;
}

.stred {
    position: absolute;
    left: 30%;
}

table, th, td {
    background-color: brown;
    border: solid 1px;
}

.tabulka {
    width: 550px;
}

.dalej {
    margin-left: 360px;
}

.pocas {
    margin-left: 10px;
}