html, body {

    text-align: center;
}

div.informacie {
    top: -32%;
    position: relative;
    clear: left;
    margin-top: 10px;
    text-align: left;
    width: 40%;
    border: 2px solid #808080;
    left: 10%;

}

.vysledk{
    left: 50%;

    text-align: left;
    border: 2px solid #808080;
    position: absolute;
    margin-top: 10px;
    margin-left: 50px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
    display: table;
}

table.tabulkas {
    color: black;
}

.form-control {
    position: relative;
    width: 250px;
    left: 41%;
    align-items: center;
}

tr {
    display: table-row;
    background: #f6f6f6;
}

tr:nth-of-type(odd) {
    background: #e9e9e9;
}

tr.header {
    font-weight: 900;

    background: #808080;
}

tr.green {
    background: #cccccc;
}

tr.blue {
    background: #808080;
}

td {
    text-align: left;
    padding: 6px 12px;
    display: table-cell;
}
.dark{
    width: 80%;
    background: grey;
}