@charset "utf8";
body {
    height: 100%;
}
body{
    background: linear-gradient(#23c626, #F8FFAE);
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
