body{
    margin: 0 auto;
    padding: 0;

    width: 90%;


    color:white;
    font-family:Helvetica,Arial,sans-serif;
    font-size:12px;
    line-height:1.5;


    background:
            linear-gradient(27deg, #151515 5px, transparent 5px) 0 5px,
            linear-gradient(207deg, #151515 5px, transparent 5px) 10px 0px,
            linear-gradient(27deg, #222 5px, transparent 5px) 0px 10px,
            linear-gradient(207deg, #222 5px, transparent 5px) 10px 5px,
            linear-gradient(90deg, #1b1b1b 10px, transparent 10px),
            linear-gradient(#1d1d1d 25%, #1a1a1a 25%, #1a1a1a 50%, transparent 50%, transparent 75%, #242424 75%, #242424);
    background-color: #131313;
    background-size: 20px 20px;
}
h2{
    text-align: center;
}


header {
    position: relative;
    padding: 20px 30px 20px 30px;
    margin: 0px auto;

    text-align: center;
    font: normal 55px 'Bitter', cursive;
    color: #fff;
}
img {
    position: relative;
    width: 100%;


    filter: opacity(70%);
    transition: all 0.3s;
    background-position: 50% 50%;
    background-repeat:   no-repeat;
    background-size:     cover;
}
div{
    display: block;



}
div.imageDesc{
    position: relative;
    padding: 10px;
    width: 80%;



}
div.container{
    position: relative;
    float: left;
    width: 33.3%;

}
div#semka{
    margin: 5% auto;
    width: 100%;
    height: 80%;

}
img:hover {
    filter: opacity(100%);
    transform: scale(1.2);
    z-index: 3;
    cursor: pointer;
}

footer{
    font-size: 18px;
    text-align: center;
    height: 70px;

    width: 100%;
    bottom: 0;
}
@media only screen and (max-device-width: 720px) {
    body {
        margin: 0;
        padding: 0;
    }
    div.descr {
        width: 80%;
        margin-left: 10%;
    }
}
div.lightbox{
    display: none;
    position: fixed;

    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .7);
    left: 0;
    top: 0;
    z-index: 9;
}

div.celok{
    display: none;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.5);
    width: 80%;
    height: 80%;
    top: 10%;
    left: 10%;
    z-index: 10;
}

div#obr {
    position: absolute;
    float: left;
    width: 80%;
    height: 100%;
}

div.left {
    width: 20%;
    height: 100%;
    position: relative;
    float: left;
    cursor: pointer;
}
div.icon {
    position: relative;
    cursor: pointer;
    float: left;
    margin-right: 40px;
}
.cross {
    position: fixed;
    cursor: pointer;
    color: #fff;

    border-radius: 30px;
    background: #908f91;

    font-size: 31px;
    font-weight: bold;

    display: block;
    line-height: 0px;
    padding: 11px 3px;
    top: 8%;
    left: 89.5%;
    z-index: 11;
}
.cross:before { content: "×"; }
.cross:hover {
    background-color: red;

}

.prev{
    font-size: 50px;
    position: relative;
    color: rgba(255,255,255, .5);
    cursor: pointer;
    top: 46%;
    left: 10%;
    z-index: 5;
}
.next{
    font-size: 50px;
    position: relative;
    color: rgba(255,255,255, .5);
    cursor: pointer;
    top: 46%;
    right: -44%;
    z-index: 5;
}

.prev:hover{
    opacity: 0.5;

    color: red;
    cursor: pointer;
    z-index: 5;
}

div.right {
    width: 20%;
    height: 100%;
    margin-left: 60%;
    position: relative;
    float: left;
    cursor: pointer;
}
#semka{
    position: absolute;
    background-color: #292626;

}
.foto{
    margin: auto 0;

    filter: none;
    transform: none;
    height: 100%;
    width: 100%;

}
.foto:hover{
    transform: scale(1);
}


.next:hover{

    opacity: 0.7;

    color: red;
    cursor: pointer;
    z-index: 5;
}

div.icon {
    position: relative;
    cursor: pointer;
    float: left;
    margin-right: 40px;
}


div#popis {
    float: right;
    width: 20%;
    height: 100%;
    background-color: white;
    color: black;
    overflow: auto;
}
div.icon:hover{
    color: red;
}
div#stop.icon:hover{
    color: red;
}
div#title{
    width: 100%;
    height: 10%;
    text-align: center;
    font: normal 30px 'Bitter', cursive;
    padding-bottom: 10px;
}

div#description {
    font: normal 13px 'Bitter', cursive;
    padding: 10px 5px 10px 5px;
}

div hr {
    width: 70%;
}

