body {
    margin: 0;
    padding: 0;
    font-family: "Comic Sans MS";
    background: url("../IMG/intersection.png");
}

main {
    margin-top: 20px;
    margin-left: 25%;
    margin-right: 25%;
    margin-bottom: 20px;
}

form, fieldset {
    border: solid 5px gray;
    background-color: #beb3a6;
    border-radius: 5%;

}

fieldset {
    border: none;
    border-bottom: solid 5px gray;
    border-top: solid 5px gray;
}

input, textarea, select {
    display: block;
    margin-bottom: 10px;
    background-color: #bebebe;
}

textarea, select, .radioB {
    cursor: pointer;
}

textarea {
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
}

legend {
    font-size: 20px;
}

span {
    display: none;
}

.osobne label:before {
    content: '*';
    color: red;
}

div {
    display: inline;
}

p {
    color: black;
    line-height: 1.5em;
    display: inline-block;
    padding: 2px 8px;
    border: solid 2px black;
    border-radius: 50%;
}

span.formular {
    display: none;
    position: relative;
    color: white;

    border-radius: 10%;
    margin-top: 1px;
    margin-left: 38px;
    overflow: hidden;
    text-align: center;
    padding: 8px;

}

div.name:hover span.fmeno {
    display: inline;

}

div.priezvisko:hover span.fpriezvisko {
    display: inline;

}

div.vek:hover span.fvek {
    display: inline;

}

div.datum:hover span.fdatum {
    display: inline;

}

div.mail:hover span.fmail {
    display: inline;

}

div.obchod:hover span.fobchod {
    display: inline;

}

div.online:hover span.fonline {
    display: inline;

}

.uvod {
    border: none;
    border-top: solid 5px gray;
}

.nadpis {
    font-size: 25px;
    text-align: center;
    padding: 5.6px 12px 10px 12px;
}

.MiestoKupa {
    visibility: visible;
    height: auto;
}

#odoslat {

    margin: auto;
    margin-top: 10px;
    font-family: "Comic Sans MS";
    width: 70px;
    height: 30px;
}

#textIne {
    visibility: hidden;
}