*{
    font-family: sans-serif;
}
h1{
    padding: 20px;
    color:white;
}
a
{
    color:white;
}
a:hover
{
    color: white;
    color: #FFFFFF;
    text-decoration: none;
}
.name
{
    color:white;
    font-style: italic;
}
.row-bottom-margin
{
    margin-bottom: -5px;
}
.menu
{
    /*background-color: #25dfbe;*/
    padding:7%;
}
img
{
    transition: transform .2s; /* Animation */
}

img:hover
{
    transform: scale(1.1);
}
.anim{
    transition: transform .2s;
    width:300px;
    height: 150px;
}
.anim:hover{
    transform: scale(1.1);
}
.bg-red{
    background-color: red;
}
#columnchart_material{
    height:600px;
    width:1300px;

}
