body{
    margin: 0 10px;
    font: 18px/30px Georgia, serif;
    animation-name: animationBackground, animationFont;
    animation-duration: 1s;
    background-color: rgba(168, 168, 168, 0.8);
}
footer{

    position: fixed;
    text-align: center;
    height: 70px;

    width: 100%;
    bottom: 0;
    z-index: 1;
}

span{
    font-size: 12px;

}
p{

    top: 580px;
    position: absolute;
    z-index: 2;
}
a{
    color: #262626;
    text-decoration: none;
    font-style: italic;
    animation-name: animationFont;
    animation-duration: 1s;
}
strong{
    font-size: 18px;
}

.mapa img{
    position: absolute;
    padding-bottom: 90px;
    z-index: 1;
}

.Bardejov img {
    position: relative;
    top: 55px;
    left: 755px;
    padding-bottom: 0;
    z-index: 2;
}
.Kosice img {
    position: relative;
    top: 104px;
    left: 753px;
    padding-bottom: 0;
    z-index: 2;
}
.Bratislava img {
    position: relative;
    top: 290px;
    left: 53px;
    padding-bottom: 0;
    z-index: 2;
}
.BanskaBystrica img {
    position: relative;
    top: 56px;
    left: 397px;
    padding-bottom: 0;
    z-index: 2;
}

div.Bardejov:hover span.mesta{

    display: block;
    top: 150px;
    left: 820px;
    animation-name: animation;
    animation-duration: 1s;
    z-index: 3;
}
div.Bratislava:hover span.mesta{

    display: block;
    top: 430px;
    left: 123px;
    animation-name: animation;
    animation-duration: 1s;
    z-index: 3;
}
div.BanskaBystrica:hover span.mesta{

    display: block;
    top: 300px;
    left: 465px;
    animation-name: animation;
    animation-duration: 1s;
    z-index: 3;
}
div.Kosice:hover span.mesta{

    display: block;
    top: 292px;
    left: 820px;
    animation-name: animation;
    animation-duration: 1s;
    z-index: 3;
}

span.mesta{
    display: none;
    position: absolute;
    width: 300px;
    height: 330px;
    color: white;
    border: 1px solid rgba(115, 115, 115, 0.8 );
    border-radius: 10%;
    margin-top: 1px;
    margin-left: 38px;
    overflow: hidden;
    text-align: center;
    padding: 8px;
    background: rgba(115, 115, 115, 0.8);
}
@keyframes animation {
    0%   {background-color: rgba(115, 115, 115, 0.1 ); padding: 0}
    25%  {background-color: rgba(115, 115, 115, 0.2 ); padding: 2px}
    50%  {background-color: rgba(115, 115, 115, 0.4 ); padding: 4px}
    75%  {background-color: rgba(115, 115, 115, 0.6 ); padding: 6px}
    100% {background-color: rgba(115, 115, 115, 0.8); padding: 8px}

}
@keyframes animationBackground {
    0%   {background-color: rgba(235, 235, 235, 0.1)
    }
    25%  {background-color: rgba(218, 218, 218, 0.2)
    }
    50%  {background-color: rgba(192, 192, 192, 0.4)
    }
    75%  {background-color: rgba(184, 184, 184, 0.6)
    }
    100% {background-color: rgba(170, 170, 170, 0.8)
    }
}
@keyframes animationFont {
    from {color: white;}
    to {color: black;}

}
