body{
    margin-bottom: 150px;
    color: #ececec;
    background:
            linear-gradient(27deg, #151515 5px, transparent 5px) 0 5px,
            linear-gradient(207deg, #151515 5px, transparent 5px) 10px 0,
            linear-gradient(27deg, #222 5px, transparent 5px) 0 10px,
            linear-gradient(207deg, #222 5px, transparent 5px) 10px 5px,
            linear-gradient(90deg, #1b1b1b 10px, transparent 10px),
            linear-gradient(#1d1d1d 25%, #1a1a1a 25%, #1a1a1a 50%, transparent 50%, transparent 75%, #242424 75%, #242424);
    background-color: #131313;
    background-size: 20px 20px;
}
img{
    background-color: rgba(155,155,155,0.7);
    margin: 0 auto;
    width: 50%;
    height: auto;

}
.container div {
    border-radius: 5px;
}

#menu{
    display: none;
    width: 100%;
    height: 100%;

}
#level{
    display: none;
    width: 100%;
    height: 100%;
}
#kniznica{
    display: none;
    width: 100%;
    height: 100%;
}
#game{
    display: block;
    width: 100%;
    height: 100%;
}
#game-box {
    background-color: rgba(53, 53, 53, 0.7);
    padding: 15px;
    margin: 15px auto;
    border: 1px solid black;
    max-width:  800px;
}
/*#spravne, #nespravne{*/
    /*background-color: rgba(94, 94, 94, 0.7);*/
/*}*/
.draggables {
    background-color: rgba(155,155,155,0.7);
    border:none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-basis: 20%;
    width: 100%;
    height: auto;
    padding: 0;
    margin: 0;
    float: left;}

/*.draggable:not(.ui-draggable-dragging){
    position: static !important;
    left: 0 !important;

}*/
.draggable{
    background-color: rgba(155,155,155,0.7);
    min-width: 80px;
    margin: 10px 0;
    width: 15%;
    padding: 10px 5px;
    height: auto;

    display: inline-block;
    float: left;
    text-align: center;

}
.ui-state-highlight {
    background-color: #00d300;
    color: #1a1a1a;}
.boxes{
    display: flex;
    justify-content: space-between;
    margin: 2% 0;
}
.boxes > div{

    min-width: 150px;
    width: 40%;
    height: 80px;
    padding: 0.5em;
    float: left;

}
#obrazky{
    float: none;
}

.dropped-ok {
    color: #fff;
    background-color: #96b64e;
}

.dropped-wrong {
    color: #fff;
    background-color: #DA2F2F;
}
.info{
    display: flex;
    justify-content: center;
}
.info p{
    display: block;
    margin: 0 20px;
}
.clock {

    text-align: left;
    font-size: 1em;

}
#hraSaToTakto{
    display: none;
    color: white;
}
#footer{
    color: black;
    position: fixed;
    background: #a5a5a5;
    bottom: 0;
    left: 0;
    right:0;
    padding: 5px;
    min-height: 0;
}
#toggle_footer{
    color: black;
    position: absolute;
    left: 0;
    top: -25px;
}
#footer .container{
    display: none;
}
